

@{
    ViewData["Title"] = "Test – Desarrollador Semi Senior – Práctica";
}

<div class="text-center">
    <br />
    <br />
    <br />
    <h1 class="display-4">Mauricio Bello</h1>
    <p>
        Se define un proyecto de desarrollo, en el cual su participación será con el rol 
        de Desarrollador Semi Senior con énfasis en tecnologías .NET, el negocio requiere 
        que se desarrolle una solución escalable, segura y tolerante a fallos que pueda 
        consumir su información sin depender de un motor de base de datos en específico. 
        El proyecto se cataloga como de urgencia ALTA dado que se definieron tiempos ajustados con el cliente. <br />

        -	Se define un modelo de datos que contiene 3 tablas.<br />

        -	Se delimita que se puede hacer uso de los siguientes componentes tecnológicos: <br />    

        •	Visual Studio 2019 <br />
        •	Asp.net WebForms ó Net Core ó MVC <br />
        •	Lenguaje C# <br />

        •	EntityFramework <br />
        •	API Rest <br />

        •	SQL Server <br />
        •	DevExpress (opcional) <br />

        Dentro de cronograma de actividades definido, para su labor como Desarrollador 
        Semi Senior se definieron las siguientes actividades a entregar: <br />

        -	Diseñar la arquitectura que se debe implementar para cumplir los requerimientos de negocio. <br />
        -	Codificar el CRUD. <br />

        -	Codificar una solución con la que, de forma futura a través de servicios se consumirá la información desde una aplicación móvil. <br />
        -	Crear una capa cliente web que consuma los servicios. <br />

        <br />
        <br />

        Ingeniería de software, el arte del futuro! M.B.C.
        <br />
        <br />

        Marzo 19 2022.
    </p>
</div>
